@{
    ViewBag.Title = "Наши контакты";
}
<h2>@ViewBag.Title.</h2>
<div class="jumbotron">
    <address>
        Наш склад Omniva находится по адресу<br />
        Sõpruse pst 184<br />
        <abbr title="Phone">Телефон:</abbr>
        444 685 95
    </address>

    <address>
        <strong>Вопросы: </strong>   <a href="https://www.instagram.com/nastja.27/" target="_blank">Вопросы о товаре</a><br />
        <strong>Подробная информация о нас: </strong> <a href="https://www.omniva.ee/" target="_blank">Omniva</a>
    </address>
</div>