@{
    ViewBag.Title = "Наши товары";
}
<h1>Наши товары</h1>
<p class="lead">Здесь вы можете заказывать самые лучшие спортивные товары. Для того чтобы оформить свой заказ, вам необходимо зарегестрироваться</p>
<div class="jumbotron">
    <table>
        <tr>
            <td>
                <img src="~/Content/mKonki.png" />
                <h3>Мужские коньки - 39.99$</h3>
                <a href="#" class="button7">Оформить заказ</a>
            </td>
            <td>
                <img src="~/Content/zKonki.png" />
                <h3>Женские коньки - 35.99$</h3>
                <a href="#" class="button7">Оформить заказ</a>
            </td>
            <td>
                <img src="~/Content/klushka.png" />
                <h3>Хокейна клюшка - 45$</h3>
                <a href="#" class="button7">Оформить заказ</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="~/Content/shaiba.png" />
                <h3>Шайба - 9.95$</h3>
                <a href="#" class="button7">Оформить заказ</a>
            </td>
            <td>
                <img src="~/Content/Lizi.png" />
                <h3>Лыжи - 159.99$</h3>
                <a href="#" class="button7">Оформить заказ</a>
            </td>
            <td>
                <img src="~/Content/showboard.png" />
                <h3>Сноуборд - 120$</h3>
                <a href="#" class="button7">Оформить заказ</a>
            </td>
        </tr>
    </table>
</div>

<div class="menu"></div>

